#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.amount-active {
  color: rgb(227 6 140);
  border: 1px solid rgb(227 6 140) !important;
}

.dropdown-option {
  font-weight: 500;
  text-align: left;
}

.dropdown-option:hower {
  cursor: pointer;
}

.map {
  height: 300px;
  margin: 3%;
  border-radius: 10px;
  filter: brightness(100%) grayscale(100%);
}

.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.lang:hover {
  opacity: 70%;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}
